<div class="row">
    
    
   <div class="col-md-6 col-md-offset-3"> <!-- bootstrap to center content !-->
       <h4>Forecast by city</h4>
       <div class="form-group">
           <input type="text" ng-model="city" id='city-input' class="form-control" placeholder="Enter your city name(3 chars min)"/>
            <hr/>
           <button class="btn btn-warning" ng-click="resetMethod()" ng-disabled="city.length < 1">Reset</button>
       </div>
       <a href="#/forecast" class="btn btn-primary" ng-disabled="city.length < 3">Get Forecast</a> <!-- making a element look like button !-->
   </div>
</div> 